body {
  font-family: Arial;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input, .due-date-input {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button {
  background-color: green;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.delete-todo-button {
  background-color: #8b0000;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 0;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid;
  float: left;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  
}

.check {
  text-decoration: line-through;
}

.checkbox .checked {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid;
  float: left;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: green;
}